[url "git@github.com:"]
	insteadOf = https://github.com/
	insteadOf = https://github.com/
	insteadOf = https://github.com/
	insteadOf = https://github.com/
	insteadOf = https://github.com/
	insteadOf = https://github.com/
	insteadOf = https://github.com/
	insteadOf = https://github.com/
	insteadOf = https://github.com/
[user]
	name = Nat Bennett
	email = nat@simplermachines.com
